.sidebar{
    width: 5%;

    .side-color-handle {
        overflow: hidden;
        margin-bottom: 10px;
    }
    
    .side-color-handle .plus {
        width: 50px;
        height: 50px;
        background-color: #1a1a1a;
        color: #fff;
        font-size: 30px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: relative;
        z-index: 1;
        top: 0;
    }

    .sidebar_list_container{
        overflow:hidden;
    }

    .sidebar_list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:20px;
        height: 300px;
        transform: translateY(-100%);
        transition: all 0.5s ease-in-out;
    }

    .sidebar_list_item {
        .sidebar_list_item_color {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            cursor: pointer;
            transition: all 0.5s ease-in-out;
            border: 1px solid #fff;
        }
    }

    .sidebar_list_active{
        height: 330px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:20px;
        transition: 300ms;
        transform: translateY(0%);
    }

    .rotate-in {
        transform: rotate(45deg);
        transition: all 0.3s ease-in-out;
    }
    
    .rotate-back {
        transform: rotate(0deg);
        transition: all 0.1s ease-in-out;
    }

    // media queries
    @media screen and (max-width: 768px) {
        position: absolute;
        bottom: 0;
        right: 40px;

        .sidebar_list {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 10px;
            height: 100%;
            transform: translateY(110%);
            margin-bottom: 10px;
        }

        .sidebar_list_active{
            height: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 10px;
            transform: translateY(-0%);
        }
    }
}
